body {
    background-color: coral;
 background-image: url('./image/2d2da9a62faf7049fa491f2da723debe.jpg');
  background-position: center;
 background-position: fit;
    background-size: 1530px;

}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1525px;
}
nav {
    transform: translateY(-100px);
    width: 1525px;
    height: 100px;
    font-size: 50px;
    color: white;
    text-align: center;
    /* background-color:  rgba(0, 0, 0, 0.329); */
}

header  {
            margin-right: auto;
            transform: translateY(-100px);
            height: 150px;
            width: 1525px;
            text-align: center;
           background-color: rgba(0, 0, 0, 0.336); 
           color: rgb(41, 159, 228);
           }
p {
    font-size: 100px;
    text-align: center;
}
.map {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
nav a {
    text-decoration: none;
    color: rgb(168, 73, 245);
    padding-left: 20px;
    padding-right: 20px;

}
summary {
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 50px;
    font-size: 50px;
}

menu {
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

main {
    background-color: rgba(241, 31, 154, 0.411);
    transform: translateY (-75px);
    height: 100px;                          
    width: 1525px;
    font-size: 40px; 
    text-align: center;
   }